{% extends 'base.html' %}

{% block header %}
  <a href="{{url_for('home.index')}}"><h1>{% block title %}Joke Generator Competition{% endblock %}</h1></a>
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="two-thirds column" style="margin-top: 10%">
        <form method="post">
          <input name="seed_example_id" id="seed_example_id" type="hidden" value="{{seed_example.id}}">
          <div class="row">
            {% block form %}{% endblock %}
          </div>

          <div class="row" style="margin-top: 16px">
            <a class="button" href="{{url_for('jokes.vote')}}">I've seen enough</a>
          </div>
        </form>
      </div>
      <div class="one-third column" style="margin-top: 10%">
        <h6>HERE ARE SOME EXAMPLES FOR INSPIRATION</h3>

        <div>
          <p>
            Ash was still angry at his mother for making his sandwich without mustard.
          </p>
          <p>
            How would you describe Ash?
          </p>
          <p>
            mustardless
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
